In [1]:
import pandas as pd

In [4]:
data = pd.read_csv("../CSV/서울 기상 데이터/2013_2018_seoul_weather.csv", parse_dates=["일시"])

In [5]:
data.head(3)

,지점,지점명,일시,기온(°C),기온 QC플래그,강수량(mm),강수량 QC플래그,풍속(m/s),풍속 QC플래그,풍향(16방위),...,최저운고(100m ),시정(10m),지면상태(지면상태코드),현상번호(국내식),지면온도(°C),지면온도 QC플래그,5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C)
0,108,서울,2013-01-01 00:00:00,-8.3,0.0,NaN,NaN,3.6,0.0,50.0,...,10.0,2000.0,NaN,NaN,-3.3,0.0,-2.9,-1.6,-0.5,0.3
1,108,서울,2013-01-01 01:00:00,-8.5,0.0,NaN,NaN,4.0,0.0,50.0,...,NaN,NaN,NaN,NaN,-3.4,0.0,-2.9,-1.6,-0.5,0.3
2,108,서울,2013-01-01 02:00:00,-8.4,0.0,NaN,NaN,4.0,0.0,70.0,...,NaN,NaN,NaN,NaN,-3.4,0.0,-3.0,-1.6,-0.5,0.4

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52584 entries, 0 to 52583
Data columns (total 38 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   지점             52584 non-null  int64
 1   지점명            52584 non-null  object
 2   일시             52584 non-null  datetime64[ns]
 3   기온(°C)         52584 non-null  float64
 4   기온 QC플래그       51095 non-null  float64
 5   강수량(mm)        4944 non-null   float64
 6   강수량 QC플래그      13808 non-null  float64
 7   풍속(m/s)        52538 non-null  float64
 8   풍속 QC플래그       50893 non-null  float64
 9   풍향(16방위)       52478 non-null  float64
 10  풍향 QC플래그       50893 non-null  float64
 11  습도(%)          52537 non-null  float64
 12  습도 QC플래그       51095 non-null  float64
 13  증기압(hPa)       52572 non-null  float64
 14  이슬점온도(°C)      52554 non-null  float64
 15  현지기압(hPa)      52527 non-null  float64
 16  현지기압 QC플래그     51095 non-null  float64
 17  해면기압(hPa)      52579 non-null  float64
 18  해면기압 QC플래그     51095 non-null  float64
 19  일조(hr)         28355 non-null  float64
 20  일조 QC플래그       51550 non-null  float64
 21  일사(MJ/m2)      28529 non-null  float64
 22  일사 QC플래그       51550 non-null  float64
 23  적설(cm)         2395 non-null   float64
 24  3시간신적설(cm)     153 non-null    float64
 25  전운량(10분위)      41537 non-null  float64
 26  중하층운량(10분위)    45414 non-null  float64
 27  운형(운형약어)       29208 non-null  object
 28  최저운고(100m )    24774 non-null  float64
 29  시정(10m)        48238 non-null  float64
 30  지면상태(지면상태코드)   5116 non-null   float64
 31  현상번호(국내식)      18860 non-null  float64
 32  지면온도(°C)       52527 non-null  float64
 33  지면온도 QC플래그     51095 non-null  float64
 34  5cm 지중온도(°C)   52526 non-null  float64
 35  10cm 지중온도(°C)  52533 non-null  float64
 36  20cm 지중온도(°C)  52511 non-null  float64
 37  30cm 지중온도(°C)  52421 non-null  float64
dtypes: datetime64[ns](1), float64(34), int64(1), object(2)
memory usage: 15.2+ MB

In [7]:
new_data = data[["일시", "기온(°C)"]]

In [8]:
new_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52584 entries, 0 to 52583
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   일시      52584 non-null  datetime64[ns]
 1   기온(°C)  52584 non-null  float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 821.8 KB

In [10]:
new_data["year"] = new_data["일시"].dt.year
new_data["month"] = new_data["일시"].dt.month
new_data["day"] = new_data["일시"].dt.day
new_data["hour"] = new_data["일시"].dt.hour

/var/folders/t9/yt46lj5s0lv1slvgpm05mrs00000gn/T/ipykernel_72940/1342483711.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_data["year"] = new_data["일시"].dt.year
/var/folders/t9/yt46lj5s0lv1slvgpm05mrs00000gn/T/ipykernel_72940/1342483711.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_data["month"] = new_data["일시"].dt.month
/var/folders/t9/yt46lj5s0lv1slvgpm05mrs00000gn/T/ipykernel_72940/1342483711.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_data["day"] = new_data["일시"].dt.day
/var/folders/t9/yt46lj5s0lv1slvgpm05mrs00000gn/T/ipykernel_72940/1342483711.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_data["hour"] = new_data["일시"].dt.hour

In [49]:
new_data.head(50)

                    일시  기온(°C)  year  month  day  hour
0  2013-01-01 00:00:00    -8.3  2013      1    1     0
1  2013-01-01 01:00:00    -8.5  2013      1    1     1
2  2013-01-01 02:00:00    -8.4  2013      1    1     2
3  2013-01-01 03:00:00    -8.1  2013      1    1     3
4  2013-01-01 04:00:00    -8.2  2013      1    1     4
5  2013-01-01 05:00:00    -8.2  2013      1    1     5
6  2013-01-01 06:00:00    -8.6  2013      1    1     6
7  2013-01-01 07:00:00    -8.3  2013      1    1     7
8  2013-01-01 08:00:00    -7.9  2013      1    1     8
9  2013-01-01 09:00:00    -7.0  2013      1    1     9
10 2013-01-01 10:00:00    -5.5  2013      1    1    10
11 2013-01-01 11:00:00    -4.2  2013      1    1    11
12 2013-01-01 12:00:00    -4.2  2013      1    1    12
13 2013-01-01 13:00:00    -1.9  2013      1    1    13
14 2013-01-01 14:00:00    -0.6  2013      1    1    14
15 2013-01-01 15:00:00    -0.5  2013      1    1    15
16 2013-01-01 16:00:00    -0.6  2013      1    1    16
17 2013-01-01 17:00:00    -1.1  2013      1    1    17
18 2013-01-01 18:00:00    -1.7  2013      1    1    18
19 2013-01-01 19:00:00    -1.6  2013      1    1    19
20 2013-01-01 20:00:00    -2.5  2013      1    1    20
21 2013-01-01 21:00:00    -2.8  2013      1    1    21
22 2013-01-01 22:00:00    -2.4  2013      1    1    22
23 2013-01-01 23:00:00    -2.7  2013      1    1    23
24 2013-01-02 00:00:00    -4.8  2013      1    2     0
25 2013-01-02 01:00:00    -6.5  2013      1    2     1
26 2013-01-02 02:00:00    -7.8  2013      1    2     2
27 2013-01-02 03:00:00    -8.8  2013      1    2     3
28 2013-01-02 04:00:00   -10.1  2013      1    2     4
29 2013-01-02 05:00:00   -10.8  2013      1    2     5
30 2013-01-02 06:00:00   -11.9  2013      1    2     6
31 2013-01-02 07:00:00   -12.7  2013      1    2     7
32 2013-01-02 08:00:00   -13.0  2013      1    2     8
33 2013-01-02 09:00:00   -12.7  2013      1    2     9
34 2013-01-02 10:00:00   -11.8  2013      1    2    10
35 2013-01-02 11:00:00   -11.8  2013      1    2    11
36 2013-01-02 12:00:00   -10.6  2013      1    2    12
37 2013-01-02 13:00:00   -10.7  2013      1    2    13
38 2013-01-02 14:00:00   -10.1  2013      1    2    14
39 2013-01-02 15:00:00    -9.5  2013      1    2    15
40 2013-01-02 16:00:00    -9.8  2013      1    2    16
41 2013-01-02 17:00:00   -10.7  2013      1    2    17
42 2013-01-02 18:00:00   -11.5  2013      1    2    18
43 2013-01-02 19:00:00   -12.0  2013      1    2    19
44 2013-01-02 20:00:00   -12.7  2013      1    2    20
45 2013-01-02 21:00:00   -13.2  2013      1    2    21
46 2013-01-02 22:00:00   -13.8  2013      1    2    22
47 2013-01-02 23:00:00   -14.3  2013      1    2    23
48 2013-01-03 00:00:00   -15.1  2013      1    3     0
49 2013-01-03 01:00:00   -15.6  2013      1    3     1

In [12]:
new_data.corr()

          기온(°C)          year         month           day          hour
기온(°C)  1.000000  5.049077e-03  2.298064e-01  8.911949e-03  1.266281e-01
year    0.005049  1.000000e+00 -1.753370e-04  2.016196e-04 -1.871617e-15
month   0.229806 -1.753370e-04  1.000000e+00  1.097865e-02  7.324431e-17
day     0.008912  2.016196e-04  1.097865e-02  1.000000e+00 -1.371064e-17
hour    0.126628 -1.871617e-15  7.324431e-17 -1.371064e-17  1.000000e+00

In [14]:
new_data.shape

(52584, 6)

In [18]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor

In [50]:
# 2013 ~ 2018
X = new_data[["year", "month", "day", "hour"]]
y = new_data["기온(°C)"]

for i in range(1, 10, 1) :
    X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                                       test_size = i / 10,
                                                       random_state = 42)

    model = RandomForestRegressor()
    model.fit(X_train, y_train)
    model.predict(X_test)
    print("학습용 : {}, 테스트용 : {}".format(10 - i, i))
    print("학습용 데이터 정확도 : {:.3f}".format(model.score(X_train, y_train)))
    print("테스트용 데이터 정확도 : {:.3f}".format(model.score(X_test, y_test)))
    print()

학습용 : 9, 테스트용 : 1
학습용 데이터 정확도 : 0.999
테스트용 데이터 정확도 : 0.992

학습용 : 8, 테스트용 : 2
학습용 데이터 정확도 : 0.999
테스트용 데이터 정확도 : 0.990

학습용 : 7, 테스트용 : 3
학습용 데이터 정확도 : 0.998
테스트용 데이터 정확도 : 0.989

학습용 : 6, 테스트용 : 4
학습용 데이터 정확도 : 0.998
테스트용 데이터 정확도 : 0.986

학습용 : 5, 테스트용 : 5
학습용 데이터 정확도 : 0.997
테스트용 데이터 정확도 : 0.983

학습용 : 4, 테스트용 : 6
학습용 데이터 정확도 : 0.997
테스트용 데이터 정확도 : 0.978

학습용 : 3, 테스트용 : 7
학습용 데이터 정확도 : 0.996
테스트용 데이터 정확도 : 0.970

학습용 : 2, 테스트용 : 8
학습용 데이터 정확도 : 0.994
테스트용 데이터 정확도 : 0.958

학습용 : 1, 테스트용 : 9
학습용 데이터 정확도 : 0.991
테스트용 데이터 정확도 : 0.936

In [67]:
# 2013 ~ 2018
X = new_data[["year", "month", "hour"]]
y = new_data["기온(°C)"]

for i in range(1, 10, 1) :
    X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                                       test_size = i / 10,
                                                       random_state = 42)

    model = RandomForestRegressor()
    model.fit(X_train, y_train)
    model.predict(X_test)
    print("학습용 : {}, 테스트용 : {}".format(10 - i, i))
    print("학습용 데이터 정확도 : {:.3f}".format(model.score(X_train, y_train)))
    print("테스트용 데이터 정확도 : {:.3f}".format(model.score(X_test, y_test)))
    print()

학습용 : 9, 테스트용 : 1
학습용 데이터 정확도 : 0.892
테스트용 데이터 정확도 : 0.886

학습용 : 8, 테스트용 : 2
학습용 데이터 정확도 : 0.892
테스트용 데이터 정확도 : 0.885

학습용 : 7, 테스트용 : 3
학습용 데이터 정확도 : 0.893
테스트용 데이터 정확도 : 0.883

학습용 : 6, 테스트용 : 4
학습용 데이터 정확도 : 0.894
테스트용 데이터 정확도 : 0.882

학습용 : 5, 테스트용 : 5
학습용 데이터 정확도 : 0.894
테스트용 데이터 정확도 : 0.882

학습용 : 4, 테스트용 : 6
학습용 데이터 정확도 : 0.896
테스트용 데이터 정확도 : 0.879

학습용 : 3, 테스트용 : 7
학습용 데이터 정확도 : 0.899
테스트용 데이터 정확도 : 0.875

학습용 : 2, 테스트용 : 8
학습용 데이터 정확도 : 0.905
테스트용 데이터 정확도 : 0.867

학습용 : 1, 테스트용 : 9
학습용 데이터 정확도 : 0.923
테스트용 데이터 정확도 : 0.853

In [68]:
# 2013 ~ 2018
X = new_data[["year", "month", "day", "hour"]]
y = new_data["기온(°C)"]


X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                                   test_size = 0.1,
                                                   random_state = 42)

model = RandomForestRegressor()
model.fit(X_train, y_train)
model.predict(X_test)
print("학습용 : {}, 테스트용 : {}".format(10 - 1, 1))
print("학습용 데이터 정확도 : {:.3f}".format(model.score(X_train, y_train)))
print("테스트용 데이터 정확도 : {:.3f}".format(model.score(X_test, y_test)))
print()

학습용 : 9, 테스트용 : 1
학습용 데이터 정확도 : 0.999
테스트용 데이터 정확도 : 0.992

In [69]:
test = pd.read_csv("../CSV/가스공급량 수요예측 모델개발 data/test.csv")

In [70]:
test.head(3)

          일자|시간|구분
0  2019-01-01 01 A
1  2019-01-01 02 A
2  2019-01-01 03 A

In [71]:
test['일자'] = test['일자|시간|구분'].str.split(' ').str[0]
test['시간'] = test['일자|시간|구분'].str.split(' ').str[1].astype(int)
test['구분'] = test['일자|시간|구분'].str.split(' ').str[2]

test['일자'] = pd.to_datetime(test['일자'])
test['year'] = test['일자'].dt.year
test['month'] = test['일자'].dt.month
test['day'] = test['일자'].dt.day
test['weekday'] = test['일자'].dt.weekday

In [72]:
test.tail(3)

              일자|시간|구분         일자  시간 구분  year  month  day  weekday
15117  2019-03-31 22 H 2019-03-31  22  H  2019      3   31        6
15118  2019-03-31 23 H 2019-03-31  23  H  2019      3   31        6
15119  2019-03-31 24 H 2019-03-31  24  H  2019      3   31        6

In [73]:
test.columns = ['일자|시간|구분', '일자', 'hour', '구분', 'year', 'month', 'day', 'weekday']
test = test[['일자|시간|구분', '구분', '일자', 'year', 'month', 'day', 'hour', 'weekday']]
test.head(3)

          일자|시간|구분 구분         일자  year  month  day  hour  weekday
0  2019-01-01 01 A  A 2019-01-01  2019      1    1     1        1
1  2019-01-01 02 A  A 2019-01-01  2019      1    1     2        1
2  2019-01-01 03 A  A 2019-01-01  2019      1    1     3        1

In [74]:
test_x = test[["year", "month", "day", "hour"]]

### 19년도 기온 예측

In [75]:
pred = model.predict(test_x)
test["기온"] = pred

In [76]:
test.head(50)

           일자|시간|구분 구분         일자  year  month  day  hour  weekday     기온
0   2019-01-01 01 A  A 2019-01-01  2019      1    1     1        1 -3.421
1   2019-01-01 02 A  A 2019-01-01  2019      1    1     2        1 -3.727
2   2019-01-01 03 A  A 2019-01-01  2019      1    1     3        1 -3.919
3   2019-01-01 04 A  A 2019-01-01  2019      1    1     4        1 -4.049
4   2019-01-01 05 A  A 2019-01-01  2019      1    1     5        1 -4.357
5   2019-01-01 06 A  A 2019-01-01  2019      1    1     6        1 -4.435
6   2019-01-01 07 A  A 2019-01-01  2019      1    1     7        1 -4.586
7   2019-01-01 08 A  A 2019-01-01  2019      1    1     8        1 -4.561
8   2019-01-01 09 A  A 2019-01-01  2019      1    1     9        1 -4.320
9   2019-01-01 10 A  A 2019-01-01  2019      1    1    10        1 -2.377
10  2019-01-01 11 A  A 2019-01-01  2019      1    1    11        1  0.173
11  2019-01-01 12 A  A 2019-01-01  2019      1    1    12        1  1.058
12  2019-01-01 13 A  A 2019-01-01  2019      1    1    13        1  2.549
13  2019-01-01 14 A  A 2019-01-01  2019      1    1    14        1  3.158
14  2019-01-01 15 A  A 2019-01-01  2019      1    1    15        1  3.006
15  2019-01-01 16 A  A 2019-01-01  2019      1    1    16        1  2.842
16  2019-01-01 17 A  A 2019-01-01  2019      1    1    17        1  1.775
17  2019-01-01 18 A  A 2019-01-01  2019      1    1    18        1  0.682
18  2019-01-01 19 A  A 2019-01-01  2019      1    1    19        1 -0.075
19  2019-01-01 20 A  A 2019-01-01  2019      1    1    20        1 -0.422
20  2019-01-01 21 A  A 2019-01-01  2019      1    1    21        1 -0.861
21  2019-01-01 22 A  A 2019-01-01  2019      1    1    22        1 -1.414
22  2019-01-01 23 A  A 2019-01-01  2019      1    1    23        1 -1.628
23  2019-01-01 24 A  A 2019-01-01  2019      1    1    24        1 -1.628
24  2019-01-02 01 A  A 2019-01-02  2019      1    2     1        2 -2.226
25  2019-01-02 02 A  A 2019-01-02  2019      1    2     2        2 -2.286
26  2019-01-02 03 A  A 2019-01-02  2019      1    2     3        2 -2.476
27  2019-01-02 04 A  A 2019-01-02  2019      1    2     4        2 -2.664
28  2019-01-02 05 A  A 2019-01-02  2019      1    2     5        2 -2.932
29  2019-01-02 06 A  A 2019-01-02  2019      1    2     6        2 -3.103
30  2019-01-02 07 A  A 2019-01-02  2019      1    2     7        2 -3.250
31  2019-01-02 08 A  A 2019-01-02  2019      1    2     8        2 -3.336
32  2019-01-02 09 A  A 2019-01-02  2019      1    2     9        2 -3.140
33  2019-01-02 10 A  A 2019-01-02  2019      1    2    10        2 -1.711
34  2019-01-02 11 A  A 2019-01-02  2019      1    2    11        2 -0.257
35  2019-01-02 12 A  A 2019-01-02  2019      1    2    12        2  0.511
36  2019-01-02 13 A  A 2019-01-02  2019      1    2    13        2  1.327
37  2019-01-02 14 A  A 2019-01-02  2019      1    2    14        2  1.584
38  2019-01-02 15 A  A 2019-01-02  2019      1    2    15        2  1.539
39  2019-01-02 16 A  A 2019-01-02  2019      1    2    16        2  1.352
40  2019-01-02 17 A  A 2019-01-02  2019      1    2    17        2  0.536
41  2019-01-02 18 A  A 2019-01-02  2019      1    2    18        2 -0.500
42  2019-01-02 19 A  A 2019-01-02  2019      1    2    19        2 -1.347
43  2019-01-02 20 A  A 2019-01-02  2019      1    2    20        2 -1.938
44  2019-01-02 21 A  A 2019-01-02  2019      1    2    21        2 -2.471
45  2019-01-02 22 A  A 2019-01-02  2019      1    2    22        2 -3.277
46  2019-01-02 23 A  A 2019-01-02  2019      1    2    23        2 -3.631
47  2019-01-02 24 A  A 2019-01-02  2019      1    2    24        2 -3.631
48  2019-01-03 01 A  A 2019-01-03  2019      1    3     1        3 -5.209
49  2019-01-03 02 A  A 2019-01-03  2019      1    3     2        3 -5.379

In [77]:
new_data.head(50)

                    일시  기온(°C)  year  month  day  hour
0  2013-01-01 00:00:00    -8.3  2013      1    1     0
1  2013-01-01 01:00:00    -8.5  2013      1    1     1
2  2013-01-01 02:00:00    -8.4  2013      1    1     2
3  2013-01-01 03:00:00    -8.1  2013      1    1     3
4  2013-01-01 04:00:00    -8.2  2013      1    1     4
5  2013-01-01 05:00:00    -8.2  2013      1    1     5
6  2013-01-01 06:00:00    -8.6  2013      1    1     6
7  2013-01-01 07:00:00    -8.3  2013      1    1     7
8  2013-01-01 08:00:00    -7.9  2013      1    1     8
9  2013-01-01 09:00:00    -7.0  2013      1    1     9
10 2013-01-01 10:00:00    -5.5  2013      1    1    10
11 2013-01-01 11:00:00    -4.2  2013      1    1    11
12 2013-01-01 12:00:00    -4.2  2013      1    1    12
13 2013-01-01 13:00:00    -1.9  2013      1    1    13
14 2013-01-01 14:00:00    -0.6  2013      1    1    14
15 2013-01-01 15:00:00    -0.5  2013      1    1    15
16 2013-01-01 16:00:00    -0.6  2013      1    1    16
17 2013-01-01 17:00:00    -1.1  2013      1    1    17
18 2013-01-01 18:00:00    -1.7  2013      1    1    18
19 2013-01-01 19:00:00    -1.6  2013      1    1    19
20 2013-01-01 20:00:00    -2.5  2013      1    1    20
21 2013-01-01 21:00:00    -2.8  2013      1    1    21
22 2013-01-01 22:00:00    -2.4  2013      1    1    22
23 2013-01-01 23:00:00    -2.7  2013      1    1    23
24 2013-01-02 00:00:00    -4.8  2013      1    2     0
25 2013-01-02 01:00:00    -6.5  2013      1    2     1
26 2013-01-02 02:00:00    -7.8  2013      1    2     2
27 2013-01-02 03:00:00    -8.8  2013      1    2     3
28 2013-01-02 04:00:00   -10.1  2013      1    2     4
29 2013-01-02 05:00:00   -10.8  2013      1    2     5
30 2013-01-02 06:00:00   -11.9  2013      1    2     6
31 2013-01-02 07:00:00   -12.7  2013      1    2     7
32 2013-01-02 08:00:00   -13.0  2013      1    2     8
33 2013-01-02 09:00:00   -12.7  2013      1    2     9
34 2013-01-02 10:00:00   -11.8  2013      1    2    10
35 2013-01-02 11:00:00   -11.8  2013      1    2    11
36 2013-01-02 12:00:00   -10.6  2013      1    2    12
37 2013-01-02 13:00:00   -10.7  2013      1    2    13
38 2013-01-02 14:00:00   -10.1  2013      1    2    14
39 2013-01-02 15:00:00    -9.5  2013      1    2    15
40 2013-01-02 16:00:00    -9.8  2013      1    2    16
41 2013-01-02 17:00:00   -10.7  2013      1    2    17
42 2013-01-02 18:00:00   -11.5  2013      1    2    18
43 2013-01-02 19:00:00   -12.0  2013      1    2    19
44 2013-01-02 20:00:00   -12.7  2013      1    2    20
45 2013-01-02 21:00:00   -13.2  2013      1    2    21
46 2013-01-02 22:00:00   -13.8  2013      1    2    22
47 2013-01-02 23:00:00   -14.3  2013      1    2    23
48 2013-01-03 00:00:00   -15.1  2013      1    3     0
49 2013-01-03 01:00:00   -15.6  2013      1    3     1