## 날씨 예측 모델
* 모든 train data 사용
* train shape : (368088, 11)

In [1]:
import pandas as pd
import time

In [2]:
train = pd.read_csv("../CSV/train_data.csv", parse_dates=["일시"])

In [3]:
train.head(3)

,연월일,시간,일시,year,month,day,hour,weekday,구분,공급량,기온(°C)
0,2013-01-01,1,2013-01-01 00:00:00,2013,1,1,0,1,A,2497.129,-8.3
1,2013-01-01,2,2013-01-01 01:00:00,2013,1,1,1,1,A,2363.265,-8.5
2,2013-01-01,3,2013-01-01 02:00:00,2013,1,1,2,1,A,2258.505,-8.4

In [4]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 368088 entries, 0 to 368087
Data columns (total 11 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   연월일      368088 non-null  object
 1   시간       368088 non-null  int64
 2   일시       368088 non-null  datetime64[ns]
 3   year     368088 non-null  int64
 4   month    368088 non-null  int64
 5   day      368088 non-null  int64
 6   hour     368088 non-null  int64
 7   weekday  368088 non-null  int64
 8   구분       368088 non-null  object
 9   공급량      368088 non-null  float64
 10  기온(°C)   368088 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(6), object(2)
memory usage: 30.9+ MB

In [5]:
train.shape

(368088, 11)

In [6]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor

In [7]:
start_time = time.time()

# 2013 ~ 2018
X = train[["year", "month", "day", "hour", "weekday"]]
y = train["기온(°C)"]

for i in range(1, 10, 1) :
    X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                                       test_size = i / 10,
                                                       random_state = 42)

    model = RandomForestRegressor()
    model.fit(X_train, y_train)
    model.predict(X_test)
    print("학습용 : {}, 테스트용 : {}".format(10 - i, i))
    print("학습용 데이터 정확도 : {:.3f}".format(model.score(X_train, y_train)))
    print("테스트용 데이터 정확도 : {:.3f}".format(model.score(X_test, y_test)))
    print()

print("실행 시간 : {}".format(time.time() - start_time))

학습용 : 9, 테스트용 : 1
학습용 데이터 정확도 : 1.000
테스트용 데이터 정확도 : 1.000

학습용 : 8, 테스트용 : 2
학습용 데이터 정확도 : 1.000
테스트용 데이터 정확도 : 1.000

학습용 : 7, 테스트용 : 3
학습용 데이터 정확도 : 1.000
테스트용 데이터 정확도 : 1.000

학습용 : 6, 테스트용 : 4
학습용 데이터 정확도 : 1.000
테스트용 데이터 정확도 : 1.000

학습용 : 5, 테스트용 : 5
학습용 데이터 정확도 : 1.000
테스트용 데이터 정확도 : 1.000

학습용 : 4, 테스트용 : 6
학습용 데이터 정확도 : 1.000
테스트용 데이터 정확도 : 1.000

학습용 : 3, 테스트용 : 7
학습용 데이터 정확도 : 1.000
테스트용 데이터 정확도 : 0.999

학습용 : 2, 테스트용 : 8
학습용 데이터 정확도 : 1.000
테스트용 데이터 정확도 : 0.998

학습용 : 1, 테스트용 : 9
학습용 데이터 정확도 : 0.999
테스트용 데이터 정확도 : 0.992

실행 시간 : 289.19886326789856

In [8]:
start_time = time.time()

# 2013 ~ 2018
X = train[["year", "month", "day", "hour"]]
y = train["기온(°C)"]

for i in range(1, 10, 1) :
    X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                                       test_size = i / 10,
                                                       random_state = 42)

    model = RandomForestRegressor()
    model.fit(X_train, y_train)
    model.predict(X_test)
    print("학습용 : {}, 테스트용 : {}".format(10 - i, i))
    print("학습용 데이터 정확도 : {:.3f}".format(model.score(X_train, y_train)))
    print("테스트용 데이터 정확도 : {:.3f}".format(model.score(X_test, y_test)))
    print()
    
print("실행 시간 : {}".format(time.time() - start_time))

학습용 : 9, 테스트용 : 1
학습용 데이터 정확도 : 1.000
테스트용 데이터 정확도 : 1.000

학습용 : 8, 테스트용 : 2
학습용 데이터 정확도 : 1.000
테스트용 데이터 정확도 : 1.000

학습용 : 7, 테스트용 : 3
학습용 데이터 정확도 : 1.000
테스트용 데이터 정확도 : 1.000

학습용 : 6, 테스트용 : 4
학습용 데이터 정확도 : 1.000
테스트용 데이터 정확도 : 1.000

학습용 : 5, 테스트용 : 5
학습용 데이터 정확도 : 1.000
테스트용 데이터 정확도 : 1.000

학습용 : 4, 테스트용 : 6
학습용 데이터 정확도 : 1.000
테스트용 데이터 정확도 : 0.999

학습용 : 3, 테스트용 : 7
학습용 데이터 정확도 : 1.000
테스트용 데이터 정확도 : 0.999

학습용 : 2, 테스트용 : 8
학습용 데이터 정확도 : 1.000
테스트용 데이터 정확도 : 0.997

학습용 : 1, 테스트용 : 9
학습용 데이터 정확도 : 0.999
테스트용 데이터 정확도 : 0.990

실행 시간 : 256.2697629928589

In [9]:
start_time = time.time()

# 2013 ~ 2018
X = train[["year", "month", "hour"]]
y = train["기온(°C)"]

for i in range(1, 10, 1) :
    X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                                       test_size = i / 10,
                                                       random_state = 42)

    model = RandomForestRegressor()
    model.fit(X_train, y_train)
    model.predict(X_test)
    print("학습용 : {}, 테스트용 : {}".format(10 - i, i))
    print("학습용 데이터 정확도 : {:.3f}".format(model.score(X_train, y_train)))
    print("테스트용 데이터 정확도 : {:.3f}".format(model.score(X_test, y_test)))
    print()
    
print("실행 시간 : {}".format(time.time() - start_time))

학습용 : 9, 테스트용 : 1
학습용 데이터 정확도 : 0.892
테스트용 데이터 정확도 : 0.891

학습용 : 8, 테스트용 : 2
학습용 데이터 정확도 : 0.892
테스트용 데이터 정확도 : 0.891

학습용 : 7, 테스트용 : 3
학습용 데이터 정확도 : 0.892
테스트용 데이터 정확도 : 0.891

학습용 : 6, 테스트용 : 4
학습용 데이터 정확도 : 0.892
테스트용 데이터 정확도 : 0.891

학습용 : 5, 테스트용 : 5
학습용 데이터 정확도 : 0.892
테스트용 데이터 정확도 : 0.891

학습용 : 4, 테스트용 : 6
학습용 데이터 정확도 : 0.892
테스트용 데이터 정확도 : 0.890

학습용 : 3, 테스트용 : 7
학습용 데이터 정확도 : 0.893
테스트용 데이터 정확도 : 0.890

학습용 : 2, 테스트용 : 8
학습용 데이터 정확도 : 0.893
테스트용 데이터 정확도 : 0.889

학습용 : 1, 테스트용 : 9
학습용 데이터 정확도 : 0.897
테스트용 데이터 정확도 : 0.886

실행 시간 : 117.17136192321777

In [11]:
# 2013 ~ 2018
X = train[["year", "month", "day", "hour", "weekday"]]
y = train["기온(°C)"]


X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                                   test_size = 0.1,
                                                   random_state = 42)

model = RandomForestRegressor()
model.fit(X_train, y_train)
model.predict(X_test)
print("학습용 : {}, 테스트용 : {}".format(10 - 1, 1))
print("학습용 데이터 정확도 : {:.3f}".format(model.score(X_train, y_train)))
print("테스트용 데이터 정확도 : {:.3f}".format(model.score(X_test, y_test)))
print()

학습용 : 9, 테스트용 : 1
학습용 데이터 정확도 : 1.000
테스트용 데이터 정확도 : 1.000

In [12]:
test = pd.read_csv("../CSV/new_test.csv")

In [13]:
test.head(3)

,일자|시간|구분,일자,시간,구분,일시,year,month,day,hour,weekday
0,2019-01-01 01 A,2019-01-01,1,A,2019-01-01 00:00:00,2019,1,1,0,1
1,2019-01-01 02 A,2019-01-01,2,A,2019-01-01 01:00:00,2019,1,1,1,1
2,2019-01-01 03 A,2019-01-01,3,A,2019-01-01 02:00:00,2019,1,1,2,1

In [14]:
test.tail(3)

,일자|시간|구분,일자,시간,구분,일시,year,month,day,hour,weekday
15117,2019-03-31 22 H,2019-03-31,22,H,2019-03-31 21:00:00,2019,3,31,21,6
15118,2019-03-31 23 H,2019-03-31,23,H,2019-03-31 22:00:00,2019,3,31,22,6
15119,2019-03-31 24 H,2019-03-31,24,H,2019-03-31 23:00:00,2019,3,31,23,6

In [15]:
test_x = test[["year", "month", "day", "hour", "weekday"]]

### 19년도 기온 예측

In [16]:
pred = model.predict(test_x)
test["기온"] = pred

In [19]:
test.tail(50)

,일자|시간|구분,일자,시간,구분,일시,year,month,day,hour,weekday,기온
15070,2019-03-29 23 H,2019-03-29,23,H,2019-03-29 22:00:00,2019,3,29,22,4,12.976
15071,2019-03-29 24 H,2019-03-29,24,H,2019-03-29 23:00:00,2019,3,29,23,4,12.358
15072,2019-03-30 01 H,2019-03-30,1,H,2019-03-30 00:00:00,2019,3,30,0,5,11.750
15073,2019-03-30 02 H,2019-03-30,2,H,2019-03-30 01:00:00,2019,3,30,1,5,11.443
15074,2019-03-30 03 H,2019-03-30,3,H,2019-03-30 02:00:00,2019,3,30,2,5,10.878
15075,2019-03-30 04 H,2019-03-30,4,H,2019-03-30 03:00:00,2019,3,30,3,5,10.459
15076,2019-03-30 05 H,2019-03-30,5,H,2019-03-30 04:00:00,2019,3,30,4,5,10.133
15077,2019-03-30 06 H,2019-03-30,6,H,2019-03-30 05:00:00,2019,3,30,5,5,10.130
15078,2019-03-30 07 H,2019-03-30,7,H,2019-03-30 06:00:00,2019,3,30,6,5,9.881
15079,2019-03-30 08 H,2019-03-30,8,H,2019-03-30 07:00:00,2019,3,30,7,5,10.020
15080,2019-03-30 09 H,2019-03-30,9,H,2019-03-30 08:00:00,2019,3,30,8,5,10.951
15081,2019-03-30 10 H,2019-03-30,10,H,2019-03-30 09:00:00,2019,3,30,9,5,13.150
15082,2019-03-30 11 H,2019-03-30,11,H,2019-03-30 10:00:00,2019,3,30,10,5,15.389
15083,2019-03-30 12 H,2019-03-30,12,H,2019-03-30 11:00:00,2019,3,30,11,5,17.261
15084,2019-03-30 13 H,2019-03-30,13,H,2019-03-30 12:00:00,2019,3,30,12,5,18.641
15085,2019-03-30 14 H,2019-03-30,14,H,2019-03-30 13:00:00,2019,3,30,13,5,19.782
15086,2019-03-30 15 H,2019-03-30,15,H,2019-03-30 14:00:00,2019,3,30,14,5,20.541
15087,2019-03-30 16 H,2019-03-30,16,H,2019-03-30 15:00:00,2019,3,30,15,5,20.321
15088,2019-03-30 17 H,2019-03-30,17,H,2019-03-30 16:00:00,2019,3,30,16,5,19.323
15089,2019-03-30 18 H,2019-03-30,18,H,2019-03-30 17:00:00,2019,3,30,17,5,18.287
15090,2019-03-30 19 H,2019-03-30,19,H,2019-03-30 18:00:00,2019,3,30,18,5,17.008
15091,2019-03-30 20 H,2019-03-30,20,H,2019-03-30 19:00:00,2019,3,30,19,5,15.253
15092,2019-03-30 21 H,2019-03-30,21,H,2019-03-30 20:00:00,2019,3,30,20,5,14.150
15093,2019-03-30 22 H,2019-03-30,22,H,2019-03-30 21:00:00,2019,3,30,21,5,13.472
15094,2019-03-30 23 H,2019-03-30,23,H,2019-03-30 22:00:00,2019,3,30,22,5,12.756
15095,2019-03-30 24 H,2019-03-30,24,H,2019-03-30 23:00:00,2019,3,30,23,5,12.247
15096,2019-03-31 01 H,2019-03-31,1,H,2019-03-31 00:00:00,2019,3,31,0,6,11.701
15097,2019-03-31 02 H,2019-03-31,2,H,2019-03-31 01:00:00,2019,3,31,1,6,11.499
15098,2019-03-31 03 H,2019-03-31,3,H,2019-03-31 02:00:00,2019,3,31,2,6,10.998
15099,2019-03-31 04 H,2019-03-31,4,H,2019-03-31 03:00:00,2019,3,31,3,6,10.688
15100,2019-03-31 05 H,2019-03-31,5,H,2019-03-31 04:00:00,2019,3,31,4,6,10.403
15101,2019-03-31 06 H,2019-03-31,6,H,2019-03-31 05:00:00,2019,3,31,5,6,9.812
15102,2019-03-31 07 H,2019-03-31,7,H,2019-03-31 06:00:00,2019,3,31,6,6,9.404
15103,2019-03-31 08 H,2019-03-31,8,H,2019-03-31 07:00:00,2019,3,31,7,6,9.500
15104,2019-03-31 09 H,2019-03-31,9,H,2019-03-31 08:00:00,2019,3,31,8,6,10.400
15105,2019-03-31 10 H,2019-03-31,10,H,2019-03-31 09:00:00,2019,3,31,9,6,12.611
15106,2019-03-31 11 H,2019-03-31,11,H,2019-03-31 10:00:00,2019,3,31,10,6,14.700
15107,2019-03-31 12 H,2019-03-31,12,H,2019-03-31 11:00:00,2019,3,31,11,6,16.700
15108,2019-03-31 13 H,2019-03-31,13,H,2019-03-31 12:00:00,2019,3,31,12,6,18.200
15109,2019-03-31 14 H,2019-03-31,14,H,2019-03-31 13:00:00,2019,3,31,13,6,19.300
15110,2019-03-31 15 H,2019-03-31,15,H,2019-03-31 14:00:00,2019,3,31,14,6,20.100
15111,2019-03-31 16 H,2019-03-31,16,H,2019-03-31 15:00:00,2019,3,31,15,6,18.900
15112,2019-03-31 17 H,2019-03-31,17,H,2019-03-31 16:00:00,2019,3,31,16,6,18.000
15113,2019-03-31 18 H,2019-03-31,18,H,2019-03-31 17:00:00,2019,3,31,17,6,17.300
15114,2019-03-31 19 H,2019-03-31,19,H,2019-03-31 18:00:00,2019,3,31,18,6,16.600
15115,2019-03-31 20 H,2019-03-31,20,H,2019-03-31 19:00:00,2019,3,31,19,6,15.297
15116,2019-03-31 21 H,2019-03-31,21,H,2019-03-31 20:00:00,2019,3,31,20,6,14.000
15117,2019-03-31 22 H,2019-03-31,22,H,2019-03-31 21:00:00,2019,3,31,21,6,13.300
15118,2019-03-31 23 H,2019-03-31,23,H,2019-03-31 22:00:00,2019,3,31,22,6,12.800
15119,2019-03-31 24 H,2019-03-31,24,H,2019-03-31 23:00:00,2019,3,31,23,6,12.400

In [18]:
train.head(50)

,연월일,시간,일시,year,month,day,hour,weekday,구분,공급량,기온(°C)
0,2013-01-01,1,2013-01-01 00:00:00,2013,1,1,0,1,A,2497.129,-8.3
1,2013-01-01,2,2013-01-01 01:00:00,2013,1,1,1,1,A,2363.265,-8.5
2,2013-01-01,3,2013-01-01 02:00:00,2013,1,1,2,1,A,2258.505,-8.4
3,2013-01-01,4,2013-01-01 03:00:00,2013,1,1,3,1,A,2243.969,-8.1
4,2013-01-01,5,2013-01-01 04:00:00,2013,1,1,4,1,A,2344.105,-8.2
5,2013-01-01,6,2013-01-01 05:00:00,2013,1,1,5,1,A,2390.961,-8.2
6,2013-01-01,7,2013-01-01 06:00:00,2013,1,1,6,1,A,2378.457,-8.6
7,2013-01-01,8,2013-01-01 07:00:00,2013,1,1,7,1,A,2518.921,-8.3
8,2013-01-01,9,2013-01-01 08:00:00,2013,1,1,8,1,A,2706.481,-7.9
9,2013-01-01,10,2013-01-01 09:00:00,2013,1,1,9,1,A,2832.057,-7.0
10,2013-01-01,11,2013-01-01 10:00:00,2013,1,1,10,1,A,2895.185,-5.5
11,2013-01-01,12,2013-01-01 11:00:00,2013,1,1,11,1,A,2689.361,-4.2
12,2013-01-01,13,2013-01-01 12:00:00,2013,1,1,12,1,A,2425.537,-4.2
13,2013-01-01,14,2013-01-01 13:00:00,2013,1,1,13,1,A,2254.289,-1.9
14,2013-01-01,15,2013-01-01 14:00:00,2013,1,1,14,1,A,2153.361,-0.6
15,2013-01-01,16,2013-01-01 15:00:00,2013,1,1,15,1,A,2126.969,-0.5
16,2013-01-01,17,2013-01-01 16:00:00,2013,1,1,16,1,A,2210.481,-0.6
17,2013-01-01,18,2013-01-01 17:00:00,2013,1,1,17,1,A,2546.873,-1.1
18,2013-01-01,19,2013-01-01 18:00:00,2013,1,1,18,1,A,2886.097,-1.7
19,2013-01-01,20,2013-01-01 19:00:00,2013,1,1,19,1,A,2863.009,-1.6
20,2013-01-01,21,2013-01-01 20:00:00,2013,1,1,20,1,A,2748.129,-2.5
21,2013-01-01,22,2013-01-01 21:00:00,2013,1,1,21,1,A,2711.441,-2.8
22,2013-01-01,23,2013-01-01 22:00:00,2013,1,1,22,1,A,2586.297,-2.4
23,2013-01-01,24,2013-01-01 23:00:00,2013,1,1,23,1,A,2494.457,-2.7
24,2013-01-02,1,2013-01-02 00:00:00,2013,1,2,0,2,A,2345.481,-4.8
25,2013-01-02,2,2013-01-02 01:00:00,2013,1,2,1,2,A,2185.065,-6.5
26,2013-01-02,3,2013-01-02 02:00:00,2013,1,2,2,2,A,2122.561,-7.8
27,2013-01-02,4,2013-01-02 03:00:00,2013,1,2,3,2,A,2238.889,-8.8
28,2013-01-02,5,2013-01-02 04:00:00,2013,1,2,4,2,A,2475.521,-10.1
29,2013-01-02,6,2013-01-02 05:00:00,2013,1,2,5,2,A,2754.465,-10.8
30,2013-01-02,7,2013-01-02 06:00:00,2013,1,2,6,2,A,3048.713,-11.9
31,2013-01-02,8,2013-01-02 07:00:00,2013,1,2,7,2,A,3544.009,-12.7
32,2013-01-02,9,2013-01-02 08:00:00,2013,1,2,8,2,A,3694.945,-13.0
33,2013-01-02,10,2013-01-02 09:00:00,2013,1,2,9,2,A,3613.873,-12.7
34,2013-01-02,11,2013-01-02 10:00:00,2013,1,2,10,2,A,3541.833,-11.8
35,2013-01-02,12,2013-01-02 11:00:00,2013,1,2,11,2,A,3400.825,-11.8
36,2013-01-02,13,2013-01-02 12:00:00,2013,1,2,12,2,A,3199.089,-10.6
37,2013-01-02,14,2013-01-02 13:00:00,2013,1,2,13,2,A,3105.817,-10.7
38,2013-01-02,15,2013-01-02 14:00:00,2013,1,2,14,2,A,2939.313,-10.1
39,2013-01-02,16,2013-01-02 15:00:00,2013,1,2,15,2,A,2895.625,-9.5
40,2013-01-02,17,2013-01-02 16:00:00,2013,1,2,16,2,A,3011.041,-9.8
41,2013-01-02,18,2013-01-02 17:00:00,2013,1,2,17,2,A,3319.841,-10.7
42,2013-01-02,19,2013-01-02 18:00:00,2013,1,2,18,2,A,3570.289,-11.5
43,2013-01-02,20,2013-01-02 19:00:00,2013,1,2,19,2,A,3618.249,-12.0
44,2013-01-02,21,2013-01-02 20:00:00,2013,1,2,20,2,A,3539.081,-12.7
45,2013-01-02,22,2013-01-02 21:00:00,2013,1,2,21,2,A,3466.113,-13.2
46,2013-01-02,23,2013-01-02 22:00:00,2013,1,2,22,2,A,3374.065,-13.8
47,2013-01-02,24,2013-01-02 23:00:00,2013,1,2,23,2,A,3231.625,-14.3
48,2013-01-03,1,2013-01-03 00:00:00,2013,1,3,0,3,A,2968.249,-15.1
49,2013-01-03,2,2013-01-03 01:00:00,2013,1,3,1,3,A,2711.129,-15.6

### 예측한 데이터 저장
* test 데이터 프레임 저장

In [ ]:
# test.to_csv("../CSV/pred_test.csv", index = False)

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
plt.figure(figsize = (15, 10))
sns.lineplot(x = "일자", y = "기온", data = test)

In [ ]:
a = train[(train["year"] == 2013) & ((train["month"] == 1) | (train["month"] == 2) | (train["month"] == 3))]

In [ ]:
plt.figure(figsize = (15, 10))
sns.lineplot(x = "일시", y = "기온(°C)", data = a)

In [ ]:
sns.lineplot(x = "month", y = "기온", data = test)
sns.lineplot(x = "month", y = "기온(°C)", data = a)

In [ ]:
sns.lineplot(x = "month", y = "기온(°C)", hue = "year", data = train)